<body>

  <ion-card class="ss">
    <ion-img class="gbr" src="/assets/permo.png" alt="Permo Logo"
      style="height: 80px; width: 80px; margin-left: 0px;"></ion-img>

    <ion-title class="atas">
      PERTANIAN MOBILE
    </ion-title>

  </ion-card>

  <h1>
    Aplikasi Serba Bisa, Untuk Pertanian
  </h1>

  <h2>
    Apapun tentang pertanian, di satu aplikasi
  </h2>

  <h3>
    cari informasi tentang berbagai tumbuhan
  </h3>

  <ion-button href="daftar">Daftar Sekarang</ion-button>

  <ion-button class="msk" href="/tabs/tab1">Masuk</ion-button>

</body>