<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PERMO
    </ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <div class="header"></div>
  <div class="container">
    <div class="list-item">
      <div class="text"><i class="fas fa-key"></i>Ganti Password</div>
      <div class="arrow"><i class="fas fa-chevron-right"></i></div>
    </div>
    <div class="list-item">
      <div class="text"><i class="fas fa-lock"></i>Ganti PIN</div>
      <div class="arrow"><i class="fas fa-chevron-right"></i></div>
    </div>
    <div class="list-item">
      <div class="text"><i class="fas fa-book"></i>Daftar Alamat</div>
      <div class="arrow"><i class="fas fa-chevron-right"></i></div>
    </div>
  </div>
  <div class="footer">
      <a href=".">
        Tutup Akun
      </a>
  </div>
</body>