<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PERMO
    </ion-title>
  </ion-toolbar>
</ion-header>

<body>
  <div class="header"></div>
  <div class="container">

    <div class="list-item">
      <div class="text">Informasi Akun</div>
    </div>

    <div class="list-item">
      <div class="text">Ganti Password</div>
    </div>

    <div class="list-item">
      <div class="text">Ganti PIN</div>
    </div>

    <div class="list-item">
      <div class="text">Bantuan</div>
    </div>

  </div>
  <div class="footer">
      <a href=".">
        TUTUP AKUN
      </a>
  </div>
</body>