<body>
    <ion-img src="https://i.ibb.co.com/r55nhRL/Permo-logo.jpg" alt="Permo Logo"
        style="height: 100px; width: 100px; margin: auto;"></ion-img>

    <div class="container">
        <div class="header">
            <h1>Pendaftaran Akun Baru</h1>
        </div>

        <div class="form-group" [formGroup]="registerForm.getForm()">
            <ion-textarea [(ngModel)]="username" label="Username" labelPlacement="floating" 
            fill="outline" placeholder="Ketik username di sini" type="text" formControlName="username"></ion-textarea>
        </div>

        <div class="form-group" [formGroup]="registerForm.getForm()">
            <ion-textarea [(ngModel)]="email" fill="solid" label="Email" labelPlacement="floating" 
            fill="outline" placeholder="Ketik email di sini" type="email" formControlName="email"></ion-textarea>
        </div>

        <div class="form-group" [formGroup]="registerForm.getForm()">
            <ion-textarea [(ngModel)]="pss" label="Password" labelPlacement="floating" 
            fill="outline" placeholder="Ketik password di sini" type="text" formControlName="pass" ></ion-textarea>
        </div>

        <div class="form-group" [formGroup]="registerForm.getForm()">
            <ion-textarea  [(ngModel)]="konfirmasi" label="Konfirmasi Password" labelPlacement="floating" 
            fill="outline" placeholder="Masukkan secara lengkap dan sesuai" type="text" formControlName="konfirmasi"></ion-textarea>
        </div>

            <ion-button type="submit" class="btn" (click)="addRegister()">
                DAFTAR
            </ion-button>

        
        <div class="footer">    
            <p>Sudah punya akun? <a href="/tabs/tab1">Masuk</a></p>
        </div>
    </div>
</body>