<body>
    <ion-img src="https://i.ibb.co.com/r55nhRL/Permo-logo.jpg" alt="Permo Logo"
        style="height: 100px; width: 100px; margin: auto;"></ion-img>

    <div class="container">
        <div class="header">
            <h1>Pendaftaran Akun Baru</h1>
        </div>

        <div class="form-group">
            <label for="username">Username*</label>
            <div class="input-icon">
                <input id="username" placeholder="Ketik username di sini" type="text" />
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email*</label>
            <div class="input-icon">
                <input id="email" placeholder="Ketik email di sini" type="email" />
            </div>
            <div class="note">Harap masukkan email yang valid</div>
        </div>

        <div class="form-group">
            <label for="password">Password*</label>
            <div class="input-icon">
                <input id="password" placeholder="Ketik password di sini" type="text" />
            </div>
        </div>

        <div class="form-group">
            <label for="konfirmasi">Konfirmasi Ulang Password*</label>
            <div class="input-icon">
                <input id="konfirmasi" placeholder="Ketik secara lengkap dan pastikan sesuai" type="text" />
            </div>
        </div>

        <ion-button type="submit" class="btn" id="present-alert" href="/tabs/tab2">DAFTAR</ion-button>
            <ion-alert 
                trigger="present-alert" 
                header="DATA KOSONG!" 
                message="Harap isi data yang dibutuhkan" 
                [buttons]="alertButtons"></ion-alert>

        <div class="footer">
            <p>Sudah punya akun? <a href="/tabs/tab1">Masuk</a></p>
        </div>
    </div>
</body>