.set {
    height: 30px;
    width: 30px;
    margin-bottom: -30px;
    margin-left: 8px;
}

.peng {
    margin-left: 25px;
}

.ion-padding {
    margin-top: -250px;
    margin-left: -151px;
    color: #FFFFFF;
    width: 470px;
}

.gan {
    margin-top: -255px;
    margin-left: -129px;
    color: #FFFFFF;
    margin-bottom: 250px;
}

.ban {
    margin-top: -480px;
    margin-left: -192px;
    color: #FFFFFF;
    margin-bottom: 180px;
}

.log {
    color: #FFFFFF;
    text-align: center;
}

body {
    font-family: Helvetica, "sans-serif";
    color: #FFFFFF;
    background-color: #324851;
    padding: 0;
}

.jdl {
    font-weight: bold;
    margin-left: 600px;
    margin-top: -79px;
}

.gambar {
    margin-top: -30px;
    margin-bottom: 38px;
}

.card {
    width: 400px;
    margin-top: 100px;
    margin-left: 250px;
    background-color: #324851;
    box-shadow: 0 0 10px rgba(248, 244, 244, 0.1);
    border: 1px solid #FFFFFF;
}

.judul {
    font-weight: bold;
}

.content {
    font-family: 'Lucida Sans';
    text-align: justify;
    color: #FFFFFF
}

.jelajah {
    background-color: #007bff;
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium';
}

.crd {
    width: 400px;
    margin-left: 750px;
    margin-top: -190px;
    background-color: #324851;
    box-shadow: 0 0 10px rgba(248, 244, 244, 0.1);
    border: 1px solid #FFFFFF;
}

.ttl {
    font-weight: bold;
}

.cntnt {
    font-family: 'Lucida Sans';
    text-align: justify;
    color: #FFFFFF;
}

.jljh {
    background-color: #007bff;
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium';
}

.kartu {
    width: 400px;
    margin-left: 480px;
    margin-top: 40px;
    background-color: #324851;
    box-shadow: 0 0 10px rgba(248, 244, 244, 0.1);
    border: 1px solid #FFFFFF;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (min-width: 476px) {

    
}