body {
    font-family: Helvetica, "sans-serif";
    color: #FFFFFF;
    background-color: #324851;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 66px auto;
    background-color: #2a393e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(248, 244, 244, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 10px;
}

.src img {
    width: 10px;
    height: 10px;
}

.header h1 {
    font-size: 18px;
    margin: 10px;
}

.info-box a {
    color: #0769d3;
    text-decoration: none;
}

.info-box a:hover {
    text-decoration: underline;
}

.info-box button {
    background-color: #fff;
    border: 1px solid #007bff;
    color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group .input-group {
    display: flex;
    align-items: center;
}

.form-group .input-group input {
    flex: 1;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-group .input-group button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-left: 0;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.form-group .input-group button:hover {
    background-color: #000000;
}

.form-group a {
    margin-top: 1px;
    margin: 2px;
    font-size: 10px;
    color: #00ff00;
    text-decoration: none;
}

.form-group a:hover {
    text-decoration: underline;
}

.form-group .note {
    font-size: 11px;
    color: #ffff;
    margin: 1px;
}

.form-group .hyper {
    font-size: 10px;
}

.masuk {
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: -10px;
}

.footer {
    text-align: center;
    margin-top: 0px;
    font-size: 12px;
}

.footer a {
    color: #00ff00;
    text-decoration: none;
    font-size: 12px;
}

.footer a:hover {
    text-decoration: underline;
}