<ion-content>
  <div class="container">
    <div class="header">
      <h1>GANTI PASSWORD</h1>
      <p>Harap ingat perubahan password Anda</p>
    </div>

    <form (ngSubmit)="changePassword()" #passwordForm="ngForm">
      <div class="form-group">
        <ion-item>
          <ion-label position="floating">Password Lama</ion-label>
          <ion-input [(ngModel)]="oldPassword" [type]="showOldPassword ? 'text' : 'password'" name="oldPassword"
            required #oldPasswordInput="ngModel">
          </ion-input>
          <ion-icon slot="end" [name]="showOldPassword ? 'eye-off' : 'eye'" (click)="toggleOldPasswordVisibility()"
            class="password-toggle">
          </ion-icon>
        </ion-item>
        <ion-note color="danger" *ngIf="oldPasswordInput.touched && oldPasswordInput.errors?.['required']">
          Password lama harus diisi
        </ion-note>
      </div>

      <div class="form-group">
        <ion-item>
          <ion-label position="floating">Password Baru</ion-label>
          <ion-input [(ngModel)]="newPassword" [type]="showNewPassword ? 'text' : 'password'" name="newPassword"
            required minlength="6" #newPasswordInput="ngModel">
          </ion-input>
          <ion-icon slot="end" [name]="showNewPassword ? 'eye-off' : 'eye'" (click)="toggleNewPasswordVisibility()"
            class="password-toggle">
          </ion-icon>
        </ion-item>
        <ion-note color="danger" *ngIf="newPasswordInput.touched && newPasswordInput.errors?.['required']">
          Password baru harus diisi
        </ion-note>
        <ion-note color="danger" *ngIf="newPasswordInput.touched && newPasswordInput.errors?.['minlength']">
          Password minimal 6 karakter
        </ion-note>
      </div>

      <ion-button type="submit" expand="block" class="btn" [disabled]="!passwordForm.valid || isLoading">
        {{ isLoading ? 'MENGUBAH...' : 'UBAH PASSWORD' }}
      </ion-button>
    </form>
  </div>
</ion-content>